Source: remastersys-gtk
Maintainer: mutse <yyhoo2.young@gmail.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3), intltool, dh-translations, python-distutils-extra
Standards-Version: 3.9.1

Package: remastersys-gtk
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-glade2, python-vte, plymouth-x11, remastersys
Description: Ubuntu and variant system remaster. This is the alternate gt

